.tabs-business-client {
	justify-content: center;
	align-items: center;
	// background-color: rgb(240, 126, 126);
	// width: 50%;
	margin: auto;
}
.alert {
	// padding: 7px 10px;
	text-align: center;
	color: white;
	border-radius: 3px;
	width: 100% !important;
	div {
		margin: 5px 0px !important;
		width: 100%;
	}
}
.alert-error {
	background-color: rgb(173, 36, 36);
	border: 0.5px solid rgb(180, 54, 54);
}
.login {
	width: 100%;
	min-height: 100vh;
	background-color: rgba(0, 0, 0, 0.5);
	#login-form {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100vh;
		background-color: $bg-yellow;
		.form-login {
			border-radius: 4px;
			width: 440px;
			padding: 1rem 1rem;
			min-height: 300px;
			padding-top: 3rem;
			background-color: $bg-primary;
		}
	}
}
.p-tabview-nav {
	background-color: $bg-primary;
	justify-content: center;
	gap: 1rem;
}
.business-register {
	display: flex;
	justify-content: center;
	align-items: center;
}
form {
	width: 80%;
	padding: 10px;
	box-shadow: $box-shadow;
	background: #f6f7f8;
}
.p-dropdown {
	width: 100%;
}
.preview {
	// background-color: rgba(0, 0, 0, 0.13);
	width: 97%;
	margin: 0 auto;
	display: flex;
	justify-content: space-around;
	align-items: center;
	gap: 10px;
	padding: 10px;
	border: 0.5px solid rgba(14, 13, 13, 0.062);
	box-shadow: 1px 2px 20px rgba(0, 0, 0, 0.4);
	.size-logo {
		color: $bg-yellow;
		text-transform: uppercase;
		text-decoration: underline;
	}
}
.select-file {
	background-color: $bg-primary;
	padding: 7px 10px;
	border-radius: 5px;
	margin: 7px 0px;
	color: white;
}
.title-business-section {
	color: $bg-primary;
	font-size: 25px;
	margin-bottom: 1.5rem;
	text-decoration: underline;
}
#btn-register {
	background-color: $bg-primary;
	width: 100%;
	border-radius: 50px;
}
#btn-login {
	width: 100%;
	border-radius: 50px;
	background-color: $bg-yellow;
	border: none;
	color: $bg-primary;
}
.p-float-label {
	margin: 5px 0px;
	outline: none;
	border: none;
}
.p-float-label:focus {
	// margin: 5px 0px;
	outline: none;
	border: none;
}
.p-float-label label {
	text-transform: capitalize;
	color: $bg-primary;
}
.p-password {
	width: 100%;
}
#lb-logo-business {
	margin: 0 !important;
}
#box-logo-business {
	display: flex;
}
.login-title {
	text-align: center;
	// color: $bg-primary;
	color: white;
	font-size: 25px;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-bottom: 1rem;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
		'Lucida Sans', Arial, sans-serif;
}
.forget-password-sign-up {
	color: white;
	a {
		text-decoration: underline;
	}
}
